# **Import of the Data files and basic Libraries**

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

# other imports will be made when needed later in the code

In [2]:
bank = pd.read_csv('Data/bank.csv', sep=';')
bank_full = pd.read_csv('Data/bank-full.csv', sep=';')

bank_add = pd.read_csv('Data/bank-additional.csv', sep=';')
bank_add_full = pd.read_csv('Data/bank-additional-full.csv', sep=';')

# **Inspecting the Datasets**

In [3]:
# In the code below we examine which dataset we will use for the study

In [4]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [5]:
bank_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [6]:
bank_add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [7]:
bank_add_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [8]:
print('The shape of bank is         : ', bank.shape)
print('The shape of bank_full is    : ',bank_full.shape)
print('The shape of bank_add is     : ',bank_add.shape)
print('The shape of bank_add_full is: ',bank_add_full.shape)

The shape of bank is         :  (4521, 17)
The shape of bank_full is    :  (45211, 17)
The shape of bank_add is     :  (4119, 21)
The shape of bank_add_full is:  (41188, 21)

In [9]:
# The biggest Dataset is the Bank_full but the one with the most independent variables is Bank_add_full. 
# In order to get the best performing prediction model we decided to choose Bank_add_full as our base dataset for this study

## Check the dataset for Missing Values

In [10]:
bank_add_full.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [11]:
bank_add_full.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [12]:
bank_add_full.keys()

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [13]:
# As you can also see, there are no missing values.
# therefore the dataset is complete and no further cleaning has to be done

# **Transform the Dataset**

## Change the Classification to a Binary

In [14]:
clean_bank_add_full = pd.get_dummies(bank_add_full, drop_first=True)
clean_bank_add_full.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,y_yes
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0

In [15]:
clean_bank_add_full.keys()

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_unknown',
       'default_yes', 'housing_unknown', 'housing_yes', 'loan_unknown',
       'loan_yes', 'contact_telephone', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success', 'y_yes'],
      dtype='object')

## Next we define the X & Y

In [16]:
# We define the x Table and y Table
    #x Table contains all ....... (without the outcome)
    #y Table only contains the Outcome 0 or 1 (=Success)
x = clean_bank_add_full.drop('y_yes', axis=1)       # independant features
y = clean_bank_add_full['y_yes']                    # dependent variable

## We split the Dataset into Train (0.5) / Validation (0.2) / Test (0.3)

In [28]:
from sklearn.model_selection import train_test_split

# First we split in Train (0.7) & in Test (0.3)
# random state means the code will always have the same training set (in order to reproduce results)
train1_x, test_x, train1_y, test_y = train_test_split(x, y, test_size=0.3, random_state=42)

# Second we split again to get Train (0.7) / Validation (0.2) / Test (0.3)
train_x, validation_x, train_y, validation_y = train_test_split(train1_x, train1_y, test_size=(0.2/0.7), random_state=42)

In [29]:
train1_x.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
39075,29,77,3,999,1,-3.0,92.713,-33.0,0.709,5023.5,...,0,0,0,0,1,0,0,0,0,0
34855,29,12,4,999,0,-1.8,92.893,-46.2,1.250,5099.1,...,1,0,0,0,0,0,0,0,1,0
7107,45,277,2,999,0,1.1,93.994,-36.4,4.860,5191.0,...,1,0,0,0,0,1,0,0,1,0
31614,34,70,1,999,1,-1.8,92.893,-46.2,1.327,5099.1,...,1,0,0,0,0,1,0,0,0,0
34878,32,1181,9,999,0,-1.8,92.893,-46.2,1.250,5099.1,...,1,0,0,0,0,0,0,0,1,0

In [18]:
#Quick check if the split is correct:
print("Shape of train_x             : "+str(train_x.shape))
print("Shape of validation_x        : "+str(validation_x.shape))
print("Shape of test_x              : "+str(test_x.shape))
print("Shape of train_y             : "+str(train_y.shape))
print("Shape of validation_y        : "+str(validation_y.shape))
print("Shape of test_y              : "+str(test_y.shape))
print('')
print("Lenght of Dataset            : ", len(x))
print("Percentage of Train          : ", '{:.2f}'.format(len(train_x)/len(x)*100), '%')
print("Percentage of Validation     : ", '{:.2f}'.format(len(validation_x)/len(x)*100), '%')
print("Percentage of Test           : ", '{:.2f}'.format(len(test_x)/len(x)*100), '%')

Shape of train_x             : (20593, 53)
Shape of validation_x        : (8238, 53)
Shape of test_x              : (12357, 53)
Shape of train_y             : (20593,)
Shape of validation_y        : (8238,)
Shape of test_y              : (12357,)

Lenght of Dataset            :  41188
Percentage of Train          :  50.00 %
Percentage of Validation     :  20.00 %
Percentage of Test           :  30.00 %

## Centering the data

In [53]:
from sklearn import preprocessing

## Linear Regression

In [40]:
#??
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_x, train_y)

In [41]:
# check how good the train model is on the test data (how it works on data which is not in the "data set")
reg.score(test_x, test_y)

0.3658267697357124

## Lambdas grid

In [54]:
from sklearn.linear_model import RidgeCV
lambdas = np.arange(7, 8, 0.001)
rr = RidgeCV(alphas=lambdas, fit_intercept=True, store_cv_values=True)
rr.fit(train_x, train_y)

RidgeCV(alphas=array([7.   , 7.001, 7.002, 7.003, 7.004, 7.005, 7.006, 7.007, 7.008,
       7.009, 7.01 , 7.011, 7.012, 7.013, 7.014, 7.015, 7.016, 7.017,
       7.018, 7.019, 7.02 , 7.021, 7.022, 7.023, 7.024, 7.025, 7.026,
       7.027, 7.028, 7.029, 7.03 , 7.031, 7.032, 7.033, 7.034, 7.035,
       7.036, 7.037, 7.038, 7.039, 7.04 , 7.041, 7.042, 7.043, 7.044,
       7.045, 7.046, 7.047, 7.048, 7.049, 7.05 , 7.051, 7.052, 7.053,
       7.054, 7.055,...
       7.936, 7.937, 7.938, 7.939, 7.94 , 7.941, 7.942, 7.943, 7.944,
       7.945, 7.946, 7.947, 7.948, 7.949, 7.95 , 7.951, 7.952, 7.953,
       7.954, 7.955, 7.956, 7.957, 7.958, 7.959, 7.96 , 7.961, 7.962,
       7.963, 7.964, 7.965, 7.966, 7.967, 7.968, 7.969, 7.97 , 7.971,
       7.972, 7.973, 7.974, 7.975, 7.976, 7.977, 7.978, 7.979, 7.98 ,
       7.981, 7.982, 7.983, 7.984, 7.985, 7.986, 7.987, 7.988, 7.989,
       7.99 , 7.991, 7.992, 7.993, 7.994, 7.995, 7.996, 7.997, 7.998,
       7.999]),
        store_cv_values=True)

In [55]:
betaRidge = np.append(rr.intercept_,rr.coef_)
betaRidge

array([-1.68919076e+01,  1.52724481e-05,  4.56259084e-04,  6.64099544e-04,
       -2.68480759e-04, -1.82972780e-02, -1.77847763e-01,  1.99261715e-01,
        2.75491514e-03,  7.65683711e-02, -3.20888345e-04, -8.42921804e-03,
       -3.45283720e-03, -9.86167490e-03, -5.53745103e-03,  2.21611483e-02,
       -2.09907160e-02, -5.54164431e-03,  2.56630561e-02,  3.08691670e-03,
        1.07284527e-02, -1.41143426e-02, -1.22669697e-03, -3.32762683e-03,
       -5.80840046e-03,  4.49279301e-03, -6.18382213e-03, -4.83948859e-03,
        6.39318665e-02,  1.50960497e-04,  1.15125544e-02, -8.17007147e-03,
       -5.75189168e-03,  2.77967600e-03, -1.88278402e-03, -3.11869884e-03,
       -1.88278402e-03,  2.74076584e-03, -4.21438968e-02,  1.06495771e-01,
        5.99901890e-02,  3.60222345e-02, -3.66228328e-02,  2.52284614e-01,
       -4.46508770e-02, -2.98956382e-02,  5.09059276e-04,  1.60363214e-02,
       -6.95390073e-03,  8.66282141e-03,  3.68016292e-03,  1.49570507e-02,
        1.91144071e-02,  8.01715077e-02])

In [56]:
yhat = np.dot(sm.add_constant(validation_x),betaRidge)
yhat1 = rr.predict(validation_x)
validationMSE = np.mean((yhat-validation_y)**2)

print("Optimal tuning parameter using cross validation: ", rr.alpha_)
print("Ridge Estimates using optimal tuning parameter : ", betaRidge)
print("Validation MSE: ", validationMSE)

Optimal tuning parameter using cross validation:  7.477000000000159
Ridge Estimates using optimal tuning parameter :  [-1.68919076e+01  1.52724481e-05  4.56259084e-04  6.64099544e-04
 -2.68480759e-04 -1.82972780e-02 -1.77847763e-01  1.99261715e-01
  2.75491514e-03  7.65683711e-02 -3.20888345e-04 -8.42921804e-03
 -3.45283720e-03 -9.86167490e-03 -5.53745103e-03  2.21611483e-02
 -2.09907160e-02 -5.54164431e-03  2.56630561e-02  3.08691670e-03
  1.07284527e-02 -1.41143426e-02 -1.22669697e-03 -3.32762683e-03
 -5.80840046e-03  4.49279301e-03 -6.18382213e-03 -4.83948859e-03
  6.39318665e-02  1.50960497e-04  1.15125544e-02 -8.17007147e-03
 -5.75189168e-03  2.77967600e-03 -1.88278402e-03 -3.11869884e-03
 -1.88278402e-03  2.74076584e-03 -4.21438968e-02  1.06495771e-01
  5.99901890e-02  3.60222345e-02 -3.66228328e-02  2.52284614e-01
 -4.46508770e-02 -2.98956382e-02  5.09059276e-04  1.60363214e-02
 -6.95390073e-03  8.66282141e-03  3.68016292e-03  1.49570507e-02
  1.91144071e-02  8.01715077e-02]
Validation MSE:  0.06702191747938342

## Logit

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='newton-cg', C=9999999, fit_intercept=True)
model.fit(test_x,test_y)
model.predict_proba(test_x)
cm = confusion_matrix(test_y, model.predict(test_x))

c:\Users\Raphael\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\optimize.py:210: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn(

## Lasso - L1 regularization

In [39]:
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html

# L1 Error means that the Absolut Value will be added

# Beta can get zero

from sklearn import linear_model
from sklearn.linear_model = LassoCV

lasso_reg = linear_model.Lasso(alpha=2, fit_intercept=True)

lasso_reg.fit(train_x, train_y)
print("Lasso Estimates from package:", np.append(lasso_reg.intercept_,lasso_reg.coef_))

SyntaxError: invalid syntax (434462817.py, line 8)

In [53]:
lasso_reg.score(test_x, test_y)

0.31755083571261244

In [54]:
lasso_reg.score(train_x, train_y)

0.30283839040616223

## Ridge Regression - L2 regularization

In [38]:
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html

# L2 Error means that the error is squared

# Beta can get close to zero

from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV

ridge_reg = Ridge(alpha=2, fit_intercept=True, solver='sparse_cg')
ridge_reg.fit(train_x, train_y)
print("Ridge Estimates from package: ",np.append(ridge_reg.intercept_,ridge_reg.coef_))

Ridge Estimates from package:  [ 6.65417578e+00  4.09991818e-05  4.57938996e-04  2.92713891e-04
 -3.40331239e-04 -3.26779635e-04  2.48816244e-06  1.29281540e-04
  4.83328822e-03  2.96999086e-04 -1.19045207e-03 -3.96969236e-04
 -1.94275796e-05 -6.19725449e-06  4.65064293e-06  9.99399500e-05
 -1.93281354e-05 -1.11858465e-04  7.41355756e-05  1.29701974e-04
  2.11671814e-05 -3.59669227e-06 -1.64416375e-04  1.79936697e-04
 -3.03728528e-06 -5.16837599e-05 -2.16050052e-04 -1.20282012e-04
  2.31019267e-06  2.91108384e-05  4.29039948e-04  1.18142959e-05
 -2.50274048e-04  1.25552673e-07  1.56842502e-06 -2.06016190e-05
  1.56842502e-06  9.12095199e-06 -4.71469958e-04  3.62480662e-04
  1.98178222e-05  3.83989068e-04  3.39373295e-04  1.99929762e-04
 -1.40364805e-03 -1.59462422e-05  1.00638139e-04  1.70171390e-05
 -1.27898107e-04  8.58328157e-05  5.75020624e-05  4.94914044e-05
  3.04398093e-04  2.58877190e-05]

In [36]:
ridge_reg.score(test_x, test_y)

0.3339311554743658

In [37]:
ridge_reg.score(train_x, train_y)

0.315655873352511