# **Import of the Data files and basic Libraries**

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

# other imports will be made when needed lator in the code

In [2]:
bank = pd.read_csv('Data/bank.csv', sep=';')
bank_full = pd.read_csv('Data/bank-full.csv', sep=';')

bank_add = pd.read_csv('Data/bank-additional.csv', sep=';')
bank_add_full = pd.read_csv('Data/bank-additional-full.csv', sep=';')

# **Inspecting the Datasets**

In [3]:
# In the code below we examine which dataset we will use for the study

In [4]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [5]:
bank_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [6]:
bank_add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [7]:
bank_add_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [8]:
print('The shape of bank is         : ', bank.shape)
print('The shape of bank_full is    : ',bank_full.shape)
print('The shape of bank_add is     : ',bank_add.shape)
print('The shape of bank_add_full is: ',bank_add_full.shape)

The shape of bank is         :  (4521, 17)
The shape of bank_full is    :  (45211, 17)
The shape of bank_add is     :  (4119, 21)
The shape of bank_add_full is:  (41188, 21)

In [9]:
# The biggest Dataset is the Bank_full but the one with the most independent variables is Bank_add_full. 
# In order to get the best performing prediction model we decided to choose Bank_add_full as our base dataset for this study

## Check the dataset for Missing Values

In [10]:
bank_add_full.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [11]:
bank_add_full.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [12]:
# As you can also see, there are no missing values.
# therefore the dataset is complete and no further cleaning has to be done

# **Transform the Dataset**

## Change the Classification to a Binary

In [13]:
clean_bank_add_full = pd.get_dummies(bank_add_full, drop_first=True)
clean_bank_add_full.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,y_yes
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,1,0,0

In [15]:
x = clean_bank_add_full.drop('y_yes', axis=1)
y = clean_bank_add_full['y_yes']

## We split the Dataset into Train (0.7) & Test (0.3)

In [16]:
from sklearn.model_selection import train_test_split
# random state means the code will always have the same training set (in order to reproduce results)

train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state=42)

## Lets start with an Linear Regression

In [17]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_x, train_y)

In [18]:
# check how good the train model is on the test data (how it works on data which is not in the "data set")
reg.score(test_x, test_y)

0.3655920334520212

## Lets do the Lasso - L1 regularization

In [34]:
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html

# L1 Error means that the Absolut Value will be added

# Beta can get zero

from sklearn import linear_model

lasso_reg = linear_model.Lasso(alpha=2, fit_intercept=True)

lasso_reg.fit(train_x, train_y)
print("Lasso Estimates from package:", np.append(lasso_reg.intercept_,lasso_reg.coef_))

Lasso Estimates from package: [ 4.36625088e+00  0.00000000e+00  4.40575692e-04 -0.00000000e+00
 -3.45043504e-04  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -7.80882726e-04 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00]

In [28]:
lasso_reg.score(test_x, test_y)

-2.2182525933445163e-05

In [29]:
lasso_reg.score(train_x, train_y)

0.0

## Now lets contiune with the Ridge Regression - L2 regularization

In [38]:
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

# L2 Error means that the error is squared

# Beta can get close to zero

from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=2, fit_intercept=True, solver='sparse_cg')
ridge_reg.fit(train_x, train_y)
print("Ridge Estimates from package: ",np.append(ridge_reg.intercept_,ridge_reg.coef_))

Ridge Estimates from package:  [ 6.65417578e+00  4.09991818e-05  4.57938996e-04  2.92713891e-04
 -3.40331239e-04 -3.26779635e-04  2.48816244e-06  1.29281540e-04
  4.83328822e-03  2.96999086e-04 -1.19045207e-03 -3.96969236e-04
 -1.94275796e-05 -6.19725449e-06  4.65064293e-06  9.99399500e-05
 -1.93281354e-05 -1.11858465e-04  7.41355756e-05  1.29701974e-04
  2.11671814e-05 -3.59669227e-06 -1.64416375e-04  1.79936697e-04
 -3.03728528e-06 -5.16837599e-05 -2.16050052e-04 -1.20282012e-04
  2.31019267e-06  2.91108384e-05  4.29039948e-04  1.18142959e-05
 -2.50274048e-04  1.25552673e-07  1.56842502e-06 -2.06016190e-05
  1.56842502e-06  9.12095199e-06 -4.71469958e-04  3.62480662e-04
  1.98178222e-05  3.83989068e-04  3.39373295e-04  1.99929762e-04
 -1.40364805e-03 -1.59462422e-05  1.00638139e-04  1.70171390e-05
 -1.27898107e-04  8.58328157e-05  5.75020624e-05  4.94914044e-05
  3.04398093e-04  2.58877190e-05]

In [36]:
ridge_reg.score(test_x, test_y)

0.3339311554743658

In [37]:
ridge_reg.score(train_x, train_y)

0.315655873352511